.row
  .col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-2
    %h1.text-center Top commenters
    %table.table.table-striped
      %thead
        %tr
          %th #
          %th User name
          %th Number of comments
      %tbody
        - @top_commenters.each_with_index do |commenter, i|
          %tr
            %td= i + 1
            %td= commenter.user.name
            %td= commenter.comment_count
